<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
        <div class="formbold-event-wrapper">
            <span>WEBINARS</span>
            <h3>The design leadership conference</h3>
           <img src="assets/images/eve.png">
           <h4>What you’ll learn</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt.
      </p>
      <div class="formbold-event-details">
        <h5>Event Details</h5>
      </div>

<form action="https://formbold.com/s/FORM_ID" method="POST">
    <h2 class="formbold-form-title">Register now</h2>

    <div class="formbold-input-flex">
      <div>
        <label for="firstname" class="formbold-form-label">
          First name*
        </label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          class="formbold-form-input"
        />
      </div>
      <div>
        <label for="lastname" class="formbold-form-label"> Last name* </label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          class="formbold-form-input"
        />
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="email" class="formbold-form-label"> Email : </label>
        <input
          type="email"
          name="email"
          id="email"
          class="formbold-form-input"
        />
      </div>
      <div>
        <label for="phone" class="formbold-form-label"> Intitulé du poste :</label>
        <input
          type="text"
          name="poste"
          id="poste"
          class="formbold-form-input"
        />
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="jobtitle" class="formbold-form-label"> Département : </label>
        <input
          type="text"
          name="depart"
          id="depart"
          class="formbold-form-input"
        />
      </div>
      <div>
        <label for="company" class="formbold-form-label"> Coordonnées : </label>
        <input
          type="text"
          name="cord"
          id="cord"
          class="formbold-form-input"
        />
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="state" class="formbold-form-label"> Sujet du formation  </label>
        <input
          type="text"
          name="sujet"
          id="sujet"
          class="formbold-form-input"
        />
      </div>
      <div>
        <label for="country" class="formbold-form-label"> Descriptif du formation </label>
        <input
          type="text"
          name="desc"
          id="desc"
          class="formbold-form-input"
        />
      </div>
    </div>

    <div>
      <label for="postcode" class="formbold-form-label"> Durée de formation </label>
      <input
        type="text"
        name="dure"
        id="dure"
        class="formbold-form-input"
      />
    </div>

    <p class="formbold-policy">
      By filling out this form and clicking submit, you acknowledge our
      <a href="#">privacy policy.</a>
    </p>
    <button class="formbold-btn">Submit formation Registration</button>
  </form>
</div>
</div>
</div>
