
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Score One</th>
        <th scope="col">Score Two</th>
        <th scope="col">Team One</th>
        <th scope="col">Team Two</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <div></div>
      <tr *ngFor ="let player of playersTab ">
        <th scope="row">1</th>
        <td>{{match.id}}</td>
        <td>{{match.ScoreOne}}</td>
        <td>{{match.ScoreTwo}}</td>
        <td>{{match.TeamOne}}</td>
        <td>{{match.TeamTwo}}</td>
        
        <td><button type="button" class="btn btn-outline-secondary">Display</button>
            <button type="button" class="btn btn-outline-secondary">Edit</button>
            <button type="button" class="btn btn-outline-secondary">Delete</button></td>
      </tr>

    </tbody>
  </table>

