<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
       <img src="assets/images/ar.png">
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="formbold-input-flex">
          <div>
            <label for="firstname" class="formbold-form-label"> Nom de la société </label>
            <input
              type="text"
              name="noms"
              id="noms"
              placeholder="Nom de la societe"
              class="formbold-form-input"
            />
          </div>
  
          <div>
            <label for="lastname" class="formbold-form-label"> Nom de l'employé  </label>
            <input
              type="text"
              name="nome"
              id="nome"
              placeholder="Your Name"
              class="formbold-form-input"
            />
          </div>
        </div>
  
       
          <div>
              <label for="email" class="formbold-form-label"> Email De L'employé</label>
              <input
              type="email"
              name="email"
              id="email"
              placeholder="example@email.com"
              class="formbold-form-input"
              />
          </div>
         
  
       
        
        <div class="formbold-mb-3">
            <label for="dob" class="formbold-form-label"> Date de la plainte </label>
            <input type="date" name="datep" id="datep" class="formbold-form-input" />
          </div>
    
  
        <div class="formbold-mb-3">
          <label for="age" class="formbold-form-label"> Nom du superviseur : </label>
          <input
            type="text"
            name="noms"
            id="noms"
            class="formbold-form-input"
          />
        </div>
  
        <div class="formbold-mb-3">
          <label for="message" class="formbold-form-label">
            Décrivez avec précision les détails de votre plainte et contre qui :
          </label>
          <textarea
            rows="6"
            name="message"
            id="message"
            class="formbold-form-input"
          ></textarea>
        </div>
        <div class="formbold-mb-3">
            <label for="message" class="formbold-form-label">
                Décrivez comment l'incident dont vous vous plaignez a eu un impact négatif sur votre travail :
            </label>
            <textarea
              rows="6"
              name="message2"
              id="message2"
              class="formbold-form-input"
            ></textarea>
          </div>
          <div class="formbold-mb-3">
            <label for="message" class="formbold-form-label">
                Commentaires du superviseur :
            </label>
            <textarea
              rows="6"
              name="message3"
              id="message3"
              class="formbold-form-input"
            ></textarea>
          </div>
    
  
        <div class="formbold-form-file-flex">
          <label for="upload" class="formbold-form-label">
            Upload Resume
          </label>
          <input
            type="file"
            name="upload"
            id="upload"
            class="formbold-form-file"
          />
        </div>
        
  
        <button class="formbold-btn">Déposer une plainte</button>
      </form>
    </div>
  </div>

