<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Fiche de Paix</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Id
                </th>
                <th>
                  mois
                </th>
                <th class="text-right">
                  Salary
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                   Ahmed
                  </td>
                  <td>
                    
                  </td>
                  <td>
                   April
                  </td>
                  <td class="text-right">
                   800dt
                  </td>
                </tr>
                <tr>
                  <td>
                    Ahmed
                  </td>
                  <td>
                   
                  </td>
                  <td>
                   Mai
                  </td>
                  <td class="text-right">
                    1000dt
                  </td>
                </tr>
                <tr>
                  <td>
                    Ahmed
                  </td>
                  <td>
                  
                  </td>
                  <td>
                   Janvier
                  </td>
                  <td class="text-right">
                   1200dt
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Fiche de Prime</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Id
                </th>
                <th>
                  mois
                </th>
                <th class="text-right">
                Prime
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                   Ahmed
                  </td>
                  <td>
                    
                  </td>
                  <td>
                   April
                  </td>
                  <td class="text-right">
                   200dt
                  </td>
                </tr>
                <tr>
                  <td>
                    Ahmed
                  </td>
                  <td>
                   
                  </td>
                  <td>
                   Mai
                  </td>
                  <td class="text-right">
                    150dt
                  </td>
                </tr>
                <tr>
                  <td>
                    Ahmed
                  </td>
                  <td>
                  
                  </td>
                  <td>
                   Janvier
                  </td>
                  <td class="text-right">
                   50dt
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  